details[b-fx6gbz8hvx] {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

summary[b-fx6gbz8hvx] {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

nav[b-fx6gbz8hvx] {
    padding-left: 20px;
}

nav a[b-fx6gbz8hvx] {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 20px 0; /* Incrementamos el valor del primer parámetro */
}