/* _content/ProyectoFinal/Shared/MainLayout.razor.rz.scp.css */
.page[b-06hfg8a6sd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-06hfg8a6sd] {
    flex: 1;
}

.sidebar[b-06hfg8a6sd] {
    background-image: linear-gradient(180deg, #520909 0%, #000000 70%);
}

.top-row[b-06hfg8a6sd] {
    background-color: #1a0000;
    border-bottom: 1px solid #080101;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-06hfg8a6sd]  a, .top-row .btn-link[b-06hfg8a6sd] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-06hfg8a6sd] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-06hfg8a6sd] {
        display: none;
    }

    .top-row.auth[b-06hfg8a6sd] {
        justify-content: space-between;
    }

    .top-row a[b-06hfg8a6sd], .top-row .btn-link[b-06hfg8a6sd] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-06hfg8a6sd] {
        flex-direction: row;
    }

    .sidebar[b-06hfg8a6sd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-06hfg8a6sd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-06hfg8a6sd], article[b-06hfg8a6sd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/ProyectoFinal/Shared/NavMenu.razor.rz.scp.css */
details[b-fx6gbz8hvx] {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

summary[b-fx6gbz8hvx] {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

nav[b-fx6gbz8hvx] {
    padding-left: 20px;
}

nav a[b-fx6gbz8hvx] {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 20px 0; /* Incrementamos el valor del primer parámetro */
}
