@page "/"
<PageTitle>AutoTG</PageTitle>

<AuthorizeView Context="Context">
    <Authorized>
        <div class="text-center">
            <h1 style="color: rgb(248, 255, 244);">Bienvenido al concesionario</h1>
            <h1  style="color: rgb(153, 4, 4);">AutoTG</h1>
            <h5 style="color: rgb(255, 255, 255);">Jorge Luis Toribio Gil(2021-0133)</h5>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h1 class="text">Inicio de sesión</h1>
                    <p>Para acceder a esta página, es necesario iniciar sesión con una cuenta autorizada.</p>
                    <a href="Identity/Account/Login"><button class="btn btn-primary">Iniciar sesión</button></a>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

