<AuthorizeView Context="Context">
    <Authorized>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
<a class="navbar-brand" href="" style="color: rgb(255, 255, 255);">AutoTG</a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <hr class="dropdown-divider" />
            <NavLink class="nav-link" href="carro" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-car" aria-hidden="true"></span> Registro Vehículo
            </NavLink>
            
            <NavLink class="nav-link" href="cliente" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-person" aria-hidden="true"></span> Registro Cliente
            </NavLink>
            <NavLink class="nav-link" href="venta" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-dollar" aria-hidden="true"></span> Registro Ventas
            </NavLink>
            <NavLink class="nav-link" href="pago" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-dollar" aria-hidden="true"></span> Registro Pagos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <span class="nav-link fw-bold" style="color: rgb(255, 255, 255);">Consultas</span>
            <hr class="dropdown-divider" />
            <NavLink class="nav-link" href="c_carro" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-car" aria-hidden="true"></span> Consulta Auto
            </NavLink>
            <NavLink class="nav-link" href="c_cliente" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-person" aria-hidden="true"></span> Consulta Cliente
            </NavLink>
            <NavLink class="nav-link" href="c_venta" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-person" aria-hidden="true"></span> Consulta ventas
            </NavLink>
            <NavLink class="nav-link" href="c_pago" Match="NavLinkMatch.All" style="display:none">
                <span class="oi oi-person" aria-hidden="true"></span> Consulta Pagos
            </NavLink>
        </div>
    </nav>
</div>



<details>
    <summary>Registros</summary>
    <nav>
        <a href="carro"><span class="oi oi-cart" aria-hidden="true"></span> Registro Auto</a>
        <a href="cliente"><span class="oi oi-person" aria-hidden="true"></span> Registro Cliente</a>
        <a href="venta"><span class="oi oi-dollar" aria-hidden="true"></span> Registro Ventas</a>
        <a href="pago"><span class="oi oi-dollar" aria-hidden="true"></span> Registro Pagos</a>
    </nav>
</details>

<details>
    <summary>Consultas</summary>
    <nav>
        <a href="c_carro"><span class="oi oi-cart" aria-hidden="true"></span> Consulta Auto</a>
        <a href="c_cliente"><span class="oi oi-person" aria-hidden="true"></span> Consulta Cliente</a>
        <a href="c_venta"><span class="oi oi-dollar" aria-hidden="true"></span> Consulta ventas</a>
        <a href="c_pago"><span class="oi oi-dollar" aria-hidden="true"></span> Registro Pagos</a>
    </nav>
</details>
    </Authorized>
</AuthorizeView>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
